<footer>
    <a class="link" href="">Politique de confidentialité</a>
    <a class="link" href="">Condition d'utilisation</a>
    <div class="reseaux">
        <div class="git">
            <i class='fab fa-github-square'></i>
            <a href="">GitHub</a>
        </div>
        <div class="linkedin">
             <i class='fab fa-linkedin-in'></i>
             <a href="">LinkedIn</a>
        </div>
    </div>
</footer>
</body>
</html>