<%- include('partials/header')%>

<main class="articles">
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    <article>
        <img src="/pdp.jpg" alt="">
        <h3>Titre </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, dolor. Atque magnam laborum repudiandae consectetur.</p>
    </article>
    
</main>



<%- include('partials/footer')%>